@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
#content {
    max-width: 800px;
    margin: 10px auto 0;
}
.header {
    text-align: center;
}

@media (max-width: 550px) { 
    #content {
        padding: 0;
    }
}