<mat-card-title>Dashboard</mat-card-title>
<mat-card *ngIf="today">
    <mat-card-title style="display: flex; flex-flow: row; justify-content: space-between;align-items:center;">
        <span>{{currentDate()}}</span>
        <div style="display: flex; flex-flow: row; justify-content: space-between;align-items:center;">
            <button (click)="prevDay()" mat-mini-fab style="margin-right: 10px;">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <mat-icon>calendar_today</mat-icon>
            <button (click)="nextDay()" [disabled]="canGoForward()" mat-mini-fab style="margin-left: 10px;">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </mat-card-title>

    <mat-card-content >
        <mat-table style="width: 100%;" [dataSource]="today.sortedMeals()">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> {{ descHeader }} </mat-header-cell>
                    <mat-cell *matCellDef="let meal"> {{meal.formattedName(smallScreen())}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef>{{ttlHeader}}</mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="time">
                    <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                    <mat-cell *matCellDef="let meal"> {{meal.formattedTime()}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="calories">
                    <mat-header-cell *matHeaderCellDef> {{calHeader}} </mat-header-cell>
                    <mat-cell *matCellDef="let meal"> {{meal.calories()}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef>{{today.calories()}}</mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="carbs">
                    <mat-header-cell *matHeaderCellDef> {{carbsHeader}} </mat-header-cell>
                    <mat-cell *matCellDef="let meal"> {{meal.carbs().toFixed(fixedWidth)}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef>{{today.carbs().toFixed(fixedWidth)}}</mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="fat">
                    <mat-header-cell *matHeaderCellDef> Fat </mat-header-cell>
                    <mat-cell *matCellDef="let meal"> {{meal.fat().toFixed(fixedWidth)}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef>{{today.fat().toFixed(fixedWidth)}}</mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="protein">
                    <mat-header-cell *matHeaderCellDef> {{protHeader}} </mat-header-cell>
                    <mat-cell *matCellDef="let meal"> {{meal.protein().toFixed(fixedWidth)}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef>{{today.protein().toFixed(fixedWidth)}}</mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-icon class="table-button-icon">delete</mat-icon>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let meal">
                        <button class="table-button" style="margin-left: 5px;" mat-mini-fab (click)="removeMeal(meal.id)">
                            <mat-icon class="table-button-icon">delete</mat-icon>
                        </button>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-icon class="table-button-icon">edit</mat-icon>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let meal">
                        <button class="table-button" style="margin-left: 5px;" mat-mini-fab routerLink="/meal/edit/{{meal.id}}">
                            <mat-icon class="table-button-icon">edit</mat-icon>
                        </button>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <mat-row *matHeaderRowDef="mealColumns"></mat-row>
                <mat-row *matRowDef="let myRowData; columns: mealColumns"></mat-row>
                <mat-row *matFooterRowDef="mealColumns" style="font-weight: bold;"></mat-row>
        </mat-table>    
    </mat-card-content>
    <mat-card-footer style="display: flex;flex-flow: row; justify-content: flex-end;">
        <button style="margin: 5px;" mat-mini-fab routerLink="/meal/add">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>
<mat-card style="margin-top: 5px;">
    <mat-card-title>Body History</mat-card-title>
    <mat-card-content style="width: 100%;overflow-x: auto">
        <mat-table [dataSource]="history" style="width: 100%;overflow-x: auto">
                <ng-container matColumnDef="updated">
                    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{formatBodyDate(user.updated)}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="weight">
                    <mat-header-cell *matHeaderCellDef> {{weightHeader}} </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.weight}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="bodyFatPercentage">
                    <mat-header-cell *matHeaderCellDef> {{bfpHeader}} </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{user.bodyFatPercentage}}% </mat-cell>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-icon class="table-button-icon">delete</mat-icon>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <button class="table-button" mat-mini-fab (click)="remoteEntry(user.id)">
                            <mat-icon class="table-button-icon">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-icon class="table-button-icon">edit</mat-icon>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <button class="table-button" mat-mini-fab routerLink="personal-info/edit/{{user.id}}">
                            <mat-icon class="table-button-icon">edit</mat-icon>
                        </button>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <mat-row *matHeaderRowDef="columnsToDisplay"></mat-row>
                <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
        </mat-table>
    </mat-card-content>
    <mat-card-footer style="display: flex;flex-flow: row; justify-content: flex-end;">
        <button style="margin: 5px;" mat-mini-fab routerLink="/personal-info/add">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>
<button *ngIf="!showTargets" mat-raised-button (click)="setTargets(true)" style="margin-top: 5px;">Show Targets</button>
<targets [hidden]="!showTargets" #targetsChild></targets>
<weight-set-history></weight-set-history>