<mat-card style="margin-top: 5px;">
    <mat-card-title style="display: flex; flex-flow: row; justify-content: space-between;align-items:center;">
        <span>Workout Generator</span>
    </mat-card-title>
    <button mat-raised-button color="primary" (click)="generateWorkout()">Generate</button>
    <mat-card-content *ngIf="workout">
        <div *ngFor="let set of workout.sets">
            <div *ngIf="set.first">
                <span>{{set.first.name}} {{set.first.reps}}</span>
            </div>
            <div *ngIf="set.second">
                <span>{{set.second.name}} {{set.second.reps}}</span>
            </div>
            <div *ngIf="set.thrid">
                <span>{{set.thrid.name}} {{set.thrid.reps}}</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>
